<div class="navbar navbar-default navbar-fixed-top bg-blue">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Turtle challenge</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">


          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/SelvaNathann/" target="_blank">Author: Selvanathan</a></li>
            <li><a href="https://www.linkedin.com/in/selva-nathan/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/SelvaNathann/turtle-code-challenger">github</a></li>
          </ul>

        </div>
      </div>
    </div>
