/**
 * CSS - CSS property
 * @author  selvanathan
 */
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #26a5ca;
}
.md-toolbar-tools {
    background-color: #31B0D5;
}
.obstrucle {
  background-color: #dedede;
  opacity: 1;
}
#turtle{
   height: 28px;
   width: 24px;
   opacity: 1;
   background-size: contain;
   margin-top: 0.7%;
   margin-left: -0.7%;
   position:absolute;
}
body samp img#turtle {
  display: block !important;
}
body samp#_turtlefield {
  z-index: 30 !important;
}
.cell {
  border-radius: 10px;
}
.direction-container {
  box-shadow: 0px 0px 2px 1px #888888;
}
.grid-size {
  width: 50px;
  margin: -9px 5px 0px 10px;
  font-size: 17px;
}
.grid {
  width: 30%;
}
.grid-note-text{
  display: flex;
}
.grid-border {
  border: 1px solid black;
}
