<div flex="100" layout="row">
  <div class="m-t-30 grid text-center" flex-offset="35" flex="30">
    <H2>Turtle command</H2>
    <grid></grid>
    <div class="grid-note-text m-t-30" flex="100">
      <span class="red font-14">
        Grid size can be configured.The default grid size would be 6 X 6.</span>
      <md-input-container flex="20" class="grid-size">
            <md-select name="type" ng-model="turtleChallengeCtrl.gridSize" ng-change="calculateCellSize();turtleChallengeCtrl.init()" required>
              <md-option ng-repeat="size in [] | range:14" value="{{size}}">
                  {{size}}
                </md-option>
            </md-select>
          </md-input-container>
    </div>
  </div>
</div>
<div class="m-t-20" flex="100" layout="row">
  <md-card layout-padding flex-offset="20" flex="30" class="direction-container">
    <md-card-title>
      <md-card-title-text layout="column" layout-padding >
        <span class="md-headline">Command the turtle</span>
        <span class="md-subhead">F - Forward, R - Turn right, L - Left</span>
      </md-card-title-text>
      <md-card-title-media>
      </md-card-title-media>
    </md-card-title>
    <md-input-container class="md-block" md-theme="docs-dark">
      <label class="font-16">Directions</label>
      <input class="to-upper-case" ng-model="turtleChallengeCtrl.inputDirections" type="text" ng-keydown="turtleChallengeCtrl.restrictInput($event);$event.keyCode == 13 && turtleChallengeCtrl.move(turtleChallengeCtrl.cellsize, turtleChallengeCtrl.availableDirections, turtleChallengeCtrl.gridSize) && renderMovement();">
    </md-input-container>
  </md-card>

  <md-card layout-padding flex="30" class="direction-container">
    <md-card-title>
      <md-card-title-text layout="column" layout-padding>
        <span class="md-headline">Result:</span>
        <span class="md-subhead"></span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media result" layout="column" layout-padding ng-if="turtleChallengeCtrl.isDone">
          <h3 class="no-margin">Input:</h3><span class="font-20 word-wrap"> {{turtleChallengeCtrl.outputDirections}}</span>
          <h3 clss="no-margin">Output:</h3><span class="font-20 word-wrap"> {{turtleChallengeCtrl.gridPosition.x || 1}},
            {{turtleChallengeCtrl.gridPosition.y || 1}} {{turtleChallengeCtrl.availableDirections[turtleChallengeCtrl.gridPosition.direction]}}</span>
          <span>No of input ended up with obstrucles: {{turtleChallengeCtrl.turtle.obstruclesHit.length}}</span>
        </div>
        <div class="md-media-lg card-media result" layout="column" layout-padding ng-if="!turtleChallengeCtrl.isDone">
          <span class="font-20">
            Input your command to the turtle to get your result
          </span>
        </div>
      </md-card-title-media>
    </md-card-title>
  </md-card>
</div>
